.card-img-top {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100%;
}
.faved, .faved:hover, .faved:active {
  color: yellow;
}
.user-image {
  border-radius: 1.25rem;
  height: 36px;
}
.tweet {
  max-height: 50px;
  white-space: pre-line;
}
.toast, .toast-header {
  background-color: rgba(34,34,34,0.85);
}
